In [ ]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

In [ ]:
df=pd.read_csv('AW_BikeBuyer.csv')

df = df.drop('BirthDate', 1)
df

       CustomerID  AveMonthSpend  ... YearlyIncome BikeBuyer
0           11000             89  ...       137947         0
1           11001            117  ...       101141         1
2           11002            123  ...        91945         0
3           11003             50  ...        86688         0
4           11004             95  ...        92771         1
...           ...            ...  ...          ...       ...
16514       13121            101  ...       101542         0
16515       26100             46  ...        46549         0
16516       11328             79  ...       133053         0
16517       23077             65  ...        31930         0
16518       18982             68  ...        59382         0

[16519 rows x 12 columns]

In [ ]:
df.describe()

         CustomerID  AveMonthSpend  ...   YearlyIncome     BikeBuyer
count  16519.000000   16519.000000  ...   16519.000000  16519.000000
mean   20234.225195      72.405957  ...   78122.511532      0.332284
std     5342.515987      27.285370  ...   39710.985718      0.471046
min    11000.000000      22.000000  ...    9482.000000      0.000000
25%    15604.500000      52.000000  ...   47807.500000      0.000000
50%    20221.000000      68.000000  ...   76120.000000      0.000000
75%    24860.500000      84.000000  ...  105194.500000      1.000000
max    29482.000000     176.000000  ...  196511.000000      1.000000

[8 rows x 8 columns]

In [ ]:
df.isnull().values.any()
x=df[['HomeOwnerFlag', 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']]
y=df['BikeBuyer']
y

0        0
1        1
2        0
3        0
4        1
        ..
16514    0
16515    0
16516    0
16517    0
16518    0
Name: BikeBuyer, Length: 16519, dtype: int64

In [ ]:
x_train,x_test,y_train , y_test = train_test_split(x,y,test_size=.2,stratify=y,random_state=10)
x_train.shape, y_train.shape

((13215, 5), (13215,))

In [ ]:
!pip install xgboost

Requirement already satisfied: xgboost in /usr/local/lib/python3.6/dist-packages (0.90)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.4.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from xgboost) (1.18.5)

In [ ]:
from sklearn.model_selection import RandomizedSearchCV, StratifiedKFold 

from sklearn.linear_model import LogisticRegression
from xgboost import XGBClassifier
from sklearn.metrics import confusion_matrix,f1_score, classification_report, accuracy_score

In [ ]:
final_model=LogisticRegression()
final_model.fit(x_train, y_train)

predict_final_model=final_model.predict(x_test)


print(accuracy_score(predict_final_model, y_test))
print(confusion_matrix(predict_final_model, y_test))
print(classification_report(predict_final_model, y_test))

0.6676755447941889
[[2206 1098]
 [   0    0]]
              precision    recall  f1-score   support

           0       1.00      0.67      0.80      3304
           1       0.00      0.00      0.00         0

    accuracy                           0.67      3304
   macro avg       0.50      0.33      0.40      3304
weighted avg       1.00      0.67      0.80      3304

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
predict_final_model=knn.predict(x_test)


print(accuracy_score(predict_final_model, y_test))
print(confusion_matrix(predict_final_model, y_test))
print(classification_report(predict_final_model, y_test))

0.6555690072639225
[[1773  705]
 [ 433  393]]
              precision    recall  f1-score   support

           0       0.80      0.72      0.76      2478
           1       0.36      0.48      0.41       826

    accuracy                           0.66      3304
   macro avg       0.58      0.60      0.58      3304
weighted avg       0.69      0.66      0.67      3304

In [ ]:
predict_final_model.predict(x_test)

AttributeError: ignored

In [ ]:


score_metric="f1_macro"
# score_metric="f1_micro"
averaging_heuristic="macro"
njobs=-1
model=LogisticRegression()
#model = XGBClassifier()

averaging_heuristic="macro"
params=['C']
param_grid = {  params[0]: [0.001,0.01,0.1,1.,10,100]}
cv=5
grid_classifier=RandomizedSearchCV(model,param_grid,cv=cv, scoring=score_metric) #,n_jobs=njobs, scoring="roc_auc"
grid_classifier.fit(x_train, y_train)
results = pd.DataFrame(grid_classifier.cv_results_) #######?
best = np.argmax(results.mean_test_score.values)

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_search.py:281: UserWarning: The total space of parameters 6 is smaller than n_iter=10. Running 6 iterations. For exhaustive searches, use GridSearchCV.
  % (grid_size, self.n_iter, grid_size), UserWarning)